body{
    overflow-x: hidden;
}
/* BEGIN modal common style */
.box-com{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(26, 23, 23, 0.8);
  z-index: 9000;
  margin: 0 auto;
}
.box-f{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 9001;
}
/* END  modal common style */

.content{
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1300px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.header{
    position: relative;
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    z-index: 5;
}
.head-bg{
    position: relative;
    width: 1920px;
    height: 200px;
    margin: 0 -310px;
    border-bottom: #4d3e9c 5px solid;
    background: url('../images/detail/header.png') no-repeat;
}
.head-con{
    position: absolute;
    top: 50%;
    left: 50%;
    color:#fff;
    width: 360px;
    height: 124px;
    margin: -40px 0 0 -180px;
}

.section{
    position: relative;
    width: 1300px;
    min-height: 810px;
    margin: 0 auto;
    z-index: 5;
    background: #fff;
}
.sec-bg{
    position: relative;
    top:50%;
    margin-top: -405px;
    width: 1920px;
    min-height: 810px;
    /* height: auto; */
    margin: 0 -310px;
    background: #000;
    background: url('../images/detail/con-bg.png') no-repeat;
    background-position: 0 center;
}
.sec-con{
    margin: 0 auto;
    padding: 85px 0 116px 0;
    width: 800px;
    min-height: 810px;
    box-sizing: border-box;
}
.detial-c{
    position: relative;
    width: 800px;
    min-height: 520px;
}
.sec-btn{
    display: block;
    background: #4d3e9c;
    border: none;
    color: #fff;
    width: 207px;
    height: 48px;
    font-size: 22px;
    margin: 50px auto 0;
    position: relative;
}
/* .sec-btn input{
    position: absolute;
    top: 0;
    left: 0;
    width: 207px;
    height: 48px;
    font-size: 14px;
    opacity: 0;
} */

footer{
    display: block;
    position: relative;
    height: 200px;
    /* padding: 35px 0 0; */
    background: #000;
    font-size: 12px;
    color: #afafaf;
}
.foot-con{
    width: 840px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 10px;
    font-size: 12px;
    line-height: 20px;
}
.foot-con {
    color: #fff;
}
.foot-con > img{
    width: 77px;
    height: 77px;
}
.foot-con p{
    margin: 4px 0;
}
.foot-tab{
    margin: 10px 0 15px 0;
}
.foot-tab a{
    display: inline-block;
    /* width: 80px; */
    color: #33a0d3;
    font-size: 12px;
    margin: 0 8px;
}
.foot-tab a:hover{
    color: #bdcb5e;
}

/* 提示框 BEGIN */
#tipModal{
    background: none;
}
#tipModal .box-f{
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
.tip-content{
    background: rgba(26, 23, 23, 0.8);
    padding: 15px 30px;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.tip-content img{
width: 33px;
height: 33px;
display: block;
margin: 0 auto .1rem;
}
/* 提示框 END */

/* 提交简历 Modal BEGIN */
#sub-info{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(21, 20, 20, 0.8);
}
#sub-info .sub-f{
    position: relative;
    left: 0;
    top: 0;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    z-index: 9000;
    /* background: rgba(26, 23, 23, 0.8); */
}
.sub-bg{
    position: relative;
    width: 1510px;
    height: 1193px;
    margin: -20px -80px;
    background: url('../images/detail/modal-bg.png') no-repeat;
    background-position: 330px 22px;
}
.sub-content{
    width: 730px;
    height: 650px;
    position: absolute;
    left: 332px;
    top: 291px;
    background: rgba(26, 23, 23, 0.5);
    background: url('../images/detail/modal-frame.png') no-repeat;
}
.sub-content>div{
    width: 597px;
    height: 542px;
    margin: 49px 39px;
    position: relative;
    /* background: turquoise; */
}
.sub-title{
    width: 100%;
    height: 63px;
    color: #5b4da1;
    line-height: 63px;
    font-size: 30px;
    text-align: center;
    /* background: mediumturquoise; */
}
.sub-close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    background: url('../images/detail/close.png') no-repeat;
}
.sub-form{
   margin-top: 45px;
}
.sub-form p{
    margin-top: 20px;
    text-align: center;
}
.sub-form label{
    font-size: 24px;
    /* letter-spacing: 30px; */
    color: #646369;
    margin-right: 15px;
    display: inline-block;
    width: 100px;
    text-align: left;
}
.sub-form input{
    width: 387px;
    height: 46px;
    font-size: 20px;
    padding-left: 15px;
}
.select-file{
    margin-top: 20px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
#uploadForm{
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 387px;
    height: 46px;
    display: inline-block;
    border: solid 1px #646369;
}
.select-file a{
    display: block;
    position: relative;
    text-decoration: none;
    width: 387px;
    height: 46px;
    border: solid 1px #a9a9a9;
    color: #646369;
    overflow: hidden;
}
.select-file a:hover{
    color: #646369;
}
.file-name{
    position: absolute;
    top: 20%;
    left: 15px;
    font-size: 20px;
    white-space: nowrap;
}
.sub-form .sub-btn{
    width: 260px;
    height: 83px;
    border: none;
    margin: 18px auto 0;
    background: url('../images/detail/btn.png') no-repeat;
}
/* 提交简历 Modal END */

/* loading css BEGIN */
#loading{
    z-index: 99999;
}
@-webkit-keyframes bouncing-loader {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      opacity: 0.1;
      -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      transform: translateY(-1rem);
    }
}
@-ms-keyframes bouncing-loader {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      opacity: 0.1;
      -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      transform: translateY(-1rem);
    }
}
@keyframes bouncing-loader {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    to {
      opacity: 0.1;
      -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      transform: translateY(-1rem);
    }
}
.bouncing-loader {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #babcea;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-animation: bouncing-loader 0.6s infinite alternate;
    -ms-animation: bouncing-loader 0.6s infinite alternate;
    animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
    -webkit-animation-delay: 0.15s;
    -ms-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.bouncing-loader > div:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.bouncing-loader > div:nth-child(4) {
    -webkit-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    animation-delay: 0.45s;
}
/* loading css END */

/* 导航栏 BEGIN */
.nav{
    position: fixed;
    top: 218px;
    right: 5px;
    width: 268px;
    height: 237px;
    background: url('../images/detail/nav.png') no-repeat;
    background-size: 100% 100%;
    z-index: 100;
}
.to_home{
    display: block;
    position: absolute;
    top: 103px;
    right: 35px;
    width: 114px;
    height: 46px;
    background: url('../images/detail/to_home_page.png') no-repeat;
    background-size: 105px 20px;
    background-position: center;
}
.to_official{
    display: block;
    position: absolute;
    top: 151px;
    right: 35px;
    width: 114px;
    height: 46px;
    background: url('../images/detail/offical.png') no-repeat;
    background-size: 105px 20px;
    background-position: center;
}
.nav .nav_active{
    background-color: rgba(207, 170, 228, 0.8);
}
/* 导航栏 END */