.content{
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1000px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.wrap-1{
    position: relative;
    width: 1300px;
    height: 1080px;
    margin: 0 auto;
    z-index: 5;
}
.slide-1{
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 -310px;
    background: #000;
    background: url('../images/slide-1.jpg') no-repeat;
}
.sign-up-btn{
    position: absolute;
    top: 814px;
    left: 440px;
    width: 422px;
    height: 118px;
    cursor: pointer;
    background: url('../images/sign_up_btn.png') no-repeat;
    background-size: 100% 100%;
}
/* .scroll-ico{
    width: 35px;
    height: 70px;
    top: 75%;
    left: 50%;
    margin: -60px 0 0 -10px;
    position: absolute;
    text-align: center;
}
.arrow-i{
    position: absolute;
    top: 40px;
    left: 9px;
    -webkit-animation: ani 0.8s ease-in alternate infinite;
    -moz-animation: ani 0.8s ease-in alternate infinite;
    -ms-animation: ani 0.8s ease-in alternate infinite;
    animation: ani 0.8s ease-in alternate infinite;
} */


.wrap-2{
    position: relative;
    width: 1300px;
    height: 1080px;
    margin: 0 auto;
    z-index: 5;
}
.s-1{
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 -310px;
    background: url('../images/slide-2.png') no-repeat;
    background-size: 100% 100%;
}
.s-cover{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
}
.wrap-title{
    width: 475px;
    height: 141px;
    position: absolute;
    top: 134px;
    left: 50%;
    margin-left: -237px;
    background: url('../images/tab-title.png') no-repeat;
    background-size: 100% 100%;
}
.section{
    position: absolute;
    top: 435px;
    left: 50%;
    margin-left: -648px;
}
.section li{
    float: left;
    color: #fff;
    font-size: 26px;
    /* width: 135px; */
    width: 216px;
    height: 638px;
    text-align: center;
}
.section span{
    display: block;
    width: 130px;
    height: 130px;
    margin: 0 auto 20px;
    background: #33a0d3;
    border-radius: 65px;
    -webkit-border-radius: 65px;
}
.tab-1 span{
    background: url('../images/sec-1.png') no-repeat;
    background-size: 100% 100%;
}
.tab-2 span{
    background: url('../images/sec-2.png') no-repeat;
    background-size: 100% 100%;
}
.tab-3 span{
    background: url('../images/sec-3.png') no-repeat;
    background-size: 100% 100%;
}
.tab-4 span{
    background: url('../images/sec-4.png') no-repeat;
    background-size: 100% 100%;
}
.tab-5 span{
    background: url('../images/sec-5.png') no-repeat;
    background-size: 100% 100%;
}
.tab-6 span{
    background: url('../images/sec-6.png') no-repeat;
    background-size: 100% 100%;
}
.tab-con{
    position: absolute;
    display: table;
    text-align: center;
    top: 630px;
    width: 1300px;
    color: #fff;
    box-sizing: border-box;
}
.tab-con>div{
    display: table-cell;
    width: 216px;
    height: auto;
    text-align: center;
    /* display: none; */
    /* background: aqua; */
}
.tab-con>div>div{
    display: none;
}

.t-con{
    width: 180px;
    display: inline-block;
    background: #000;
    box-sizing: border-box;
    opacity: .85;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    vertical-align: text-top;
}
.t-con li{
    height: 47px;
    line-height: 37px;
    box-sizing: border-box;
    padding: 5px;
}
.t-con a{
    text-decoration: none;
    color: #fff;
}

.cur-tab:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4px;
    background: #fff;
}
.cur-tab a{
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.wx-icon{
    width: 121px;
    height: 120px;
    background: url('../images/wx.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -60px;
}



#slider3{
    height: 200px;
}
footer{
    display: block;
    position: relative;
    height: 200px;
    /* padding: 35px 0 0; */
    background: #000;
    font-size: 12px;
    color: #afafaf;
}
.foot-con{
    width: 1300px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 10px;
    font-size: 12px;
    line-height: 20px;
}
.foot-con {
    color: #fff;
}
.foot-con > img{
    width: 77px;
    height: 77px;
}
.foot-con p{
    margin: 4px 0;
}
.foot-tab{
    margin: 10px 0 15px 0;
}
.foot-tab a{
    display: inline-block;
    /* width: 80px; */
    color: #33a0d3;
    font-size: 12px;
    margin: 0 8px;
}
.foot-tab a:hover{
    color: #bdcb5e;
}
/**/
@-webkit-keyframes bre-light {
	0% {
        opacity: 0.6;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0.6;
	}
}
@-ms-keyframes bre-light {
	0% {
        opacity: 0.6;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0.6;
	}
}
@-o-keyframes bre-light {
	0% {
        opacity: 0.6;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0.6;
	}
}
@keyframes bre-light {
	0% {
        opacity: 0.6;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0.6;
	}
}
.bre-light{
    -webkit-animation:bre-light 2s linear infinite;
    -ms-animation:bre-light 2s linear infinite;
    -o-animation:bre-light 2s linear infinite;
    animation:bre-light 2s linear infinite;
}
/* 提交简历 Modal BEGIN */
#sub-info{
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(21, 20, 20, 0.8);
}
#sub-info .sub-f{
    position: relative;
    left: 0;
    top: 0;
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    z-index: 9000;
    /* background: rgba(26, 23, 23, 0.8); */
}
.sub-bg{
    position: relative;
    width: 1510px;
    height: 1193px;
    margin: -20px -80px;
    background: url('../images/home-modal-bg.png') no-repeat;
    background-position: 325px 21px;
}
.sub-content{
    width: 730px;
    height: 650px;
    position: absolute;
    left: 332px;
    top: 291px;
    background: rgba(26, 23, 23, 0.5);
    background: url('../images/detail/modal-frame.png') no-repeat;
}
.sub-content>div{
    width: 597px;
    height: 542px;
    margin: 49px 39px;
    position: relative;
    /* background: turquoise; */
}
.sub-title{
    width: 100%;
    height: 63px;
    color: #5b4da1;
    line-height: 63px;
    font-size: 30px;
    text-align: center;
    /* background: mediumturquoise; */
}
.sub-close{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    background: url('../images/detail/close.png') no-repeat;
}
.sub-form{
   margin-top: 45px;
}
.sub-form p{
    margin-top: 20px;
    text-align: center;
}
.sub-form label{
    font-size: 24px;
    /* letter-spacing: 30px; */
    color: #646369;
    margin-right: 15px;
    display: inline-block;
    width: 100px;
    text-align: left;
}
.sub-form input{
    width: 387px;
    height: 46px;
    font-size: 20px;
    padding-left: 15px;
}
.select-file{
    margin-top: 20px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
#uploadForm{
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 387px;
    height: 46px;
    display: inline-block;
    border: solid 1px #646369;
}
.select-file a{
    display: block;
    position: relative;
    text-decoration: none;
    width: 387px;
    height: 46px;
    border: solid 1px #a9a9a9;
    color: #646369;
    overflow: hidden;
}
.select-file a:hover{
    color: #646369;
}
.file-name{
    position: absolute;
    top: 20%;
    left: 15px;
    font-size: 20px;
    white-space: nowrap;
}
.sub-form .sub-btn{
    width: 260px;
    height: 83px;
    border: none;
    margin: 18px auto 0;
    cursor: pointer;
    background: url('../images/detail/btn.png') no-repeat;
}
/* 提交简历 Modal END */

/* BEGIN modal common style */
.box-com{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(26, 23, 23, 0.8);
    z-index: 9000;
    margin: 0 auto;
  }
  .box-f{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 9001;
  }
  /* END  modal common style */

/* 提示框 BEGIN */
#tipModal{
    background: none;
}
#tipModal .box-f{
    color: #fff;
    font-size: 18px;
    text-align: center;
  }
.tip-content{
    background: rgba(26, 23, 23, 0.8);
    padding: 15px 30px;
    width: auto;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.tip-content img{
width: 33px;
height: 33px;
display: block;
margin: 0 auto .1rem;
}
/* 提示框 END */