$color: #656565;
$account-color: #31aae2;
$color-b: #00a0e9;
$input-bor-color: #d9d9d9;

@mixin tit {
  .tit{
    user-select: none;
    font-size: 24px;
    color: #000000;
    margin: 0 0 0 20px;
    position: relative;
  }
  .tit:before{
    width: 6px;
    height: 27px;
    content: '';
    position: absolute;
    top: 2px;
    left: -20px;
    background: #31aae2;
  }
}
@mixin sub-btn {
  width: 197px;
  height: 56px;
  line-height: 55px;
  border-radius: 4px;
  margin: 48px 0 0 293px;
  background: #31aae2;
  font-size: 24px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-align: center;
}
