html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu{margin: 0;padding: 0;}
/*清除浮动*/
.clearfix:before,.clearfix:after
{
    content:"";
    display:table;
}
.clearfix:after
{
    clear:both;
}
.clearfix
{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
.border-box{
    box-sizing: border-box;
}
html,body{
  font-family: "微软雅黑";
    background: #f1f4f9;
}
/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
  }
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #e1ce94;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center-selected:before{
    left: 0;
    right: 0;
}
/* BEGIN  弹出层公共样式 */
.modal-cover{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.modal-content{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* border-radius: 5%; */
  // font-size: 28px;
  // color: #ffffff;
}
/* END 弹出层公共样式 */
.bor-box{
  box-sizing: border-box;
}
