* {
	font-family: "Microsoft YaHei" ! important;
}
html, body {
	height: 100%;
    width: 100%;
	overflow-x: hidden;
	background: white;
}
.container {
	width: 10rem;
	overflow-x: hidden;
	margin: 0 auto;
}

.downloadTop {
	width: 10rem;
	height: 1.33333rem;
	position: fixed;
	background: url("../images/downloadTopBg.png") no-repeat;
	background-size: 10rem 1.3333rem;
	margin: 0 auto;
	padding: 0.12rem 0.4rem;
	z-index: 8888;
	background: #e8ce9c;
}
.topContent {
	width: 100%;
	/* height: 1.066rem; */
	height: 100%;
}
.topContentImg{
	width: 1.066rem;
	height: 1.066rem;
}
.topContentImg img{
	width: 100%;
	height: 100%;
}
.topContentImg,.topContentText {
	float: left;
}
#topBtn {
	float: right;
	width: 3.5rem;
	height: 0.8rem;
	margin-top: 0.15rem;
}
.homePageBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: left;
	background: url("../images/homePageBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.gemeDownloadBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: right;
	background: url("../images/topBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.topContentText {
	padding: 0.05rem 0 0.13rem 0.08rem;
	color: #683307;
}
.topContentText em{
    font-size: .4266rem;
    font-weight: bold;	
}
.topContentText span{
	font-size: .2933rem;
}
/* BEGIN 导航条*/
.navBar {
	width: 10rem;
	height: 1.6rem;
	background: #ac7d11;
	position: fixed;
	bottom: 0;
	z-index: 8888;
}

.navBar .nav{
	width: 2rem;
	height: 1.6rem;
	float: left;
	margin: 0 auto;
}
.navBar .navIcon{
	margin: -.45rem auto 0;
	position: relative;
	top: 50%;
	background: url("../images/navBarIcon.png") no-repeat;
	background-size:  10rem 2.4rem;
	display: block;
}
.navBar .newsInfoImg{
	width: 1.29rem;
	height: 1.09rem;
	background-position: -.6333rem -.1733rem;
	/* y = 1.25rem */
	text-align: center; 
}
.navBar .newsInfoImgClick{
	background-position: -.6333rem -.1733rem;
}
.navBar .gameInfoImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -2.5333rem -.1733rem;
}
.navBar .newInstructionImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -4.366rem -.1733rem;
}
.navBar .getGiftImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -6.2933rem -.1733rem;
}
.navBar .usersImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -8.2rem -.1733rem;
}
/* END 导航条*/


/* BEGIN 版心*/

.main{
    width: 10rem;
    min-height: 15rem;
    background: #fff7dc;
    margin-top: 1.333rem;
    position: relative;
}
.main .headImg{
    width: 10rem;
    height: 4rem;
}
.headImg img{
    width: 100%;
    height: 100%;
}
.main .nav{
    width: 9.7333rem;
    height: 1.0666rem;
    margin: .266rem auto 0;
    background: url("../images/gift/nav.png") no-repeat;
    background-size: 9.7333rem 3.406rem;
    background-position: 0 0;
    /* background-position: 0 -1.15rem; */
    /* background-position: 0 -2.35rem; */
}
.main .nav a{
    width: 33.33%;
    height: 1.0666rem;
    float: left;
    display: block;
}
/* BEGIN 领取记录*/
.main .giftRecord{
    width: 10rem;
    margin: .5rem auto 0;
    display: block;
    min-height: 8rem;
}
.recordList li{
    width: 9.2rem;
    height: 2.8rem;
    margin: 0 auto;
}
.recordTitle{
    position: relative;
    height: .5rem;
    /* background: skyblue; */
}
.recordTitle:before{
    width: .0667rem;
    height: .37rem;
    display: inline-block;
    background: #ad7d11;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -.21rem;
}
/* .recordTitle i{
    width: .0667rem;
    height: .4rem;
    display: block;
    background: #ad7d11;
    content: "";
    position: absolute;
    top: 0;
} */
.recordTitle em{
    color: #8e6508;
    font-size: .38rem;
    margin-left: .2rem;
    line-height: .5rem;
    font-weight: bolder;
    vertical-align: center;
}
.recordTxt{
    color: #bb9345;
    font-size: .32rem;
    margin-top: .2rem;
}
.recordTime{
    color: #bb9345;
    font-size: .32rem;
    margin-bottom: .2rem;
}
.recordTime a{
    text-decoration: underline;
    color: #fd4013;
}
.recordTime .overTimeClo{
	color: #B7B7BB;
}
.giftCode span{
    color:#8e6508;
    font-size: .32rem;
}
.giftCode .code{
    min-width: 4.4rem;
    height: .733rem;
    background: url('../images/gift/codeBg.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    color: #784d03;
    text-align: center;
    font-size: .34666rem;
    line-height: .7333rem;
    margin-left: .15rem;
}
.giftCode .code span{
    -webkit-user-select: text;
    user-select: text;
}
/* END 领取记录*/


/* END 版心*/


/* BEGIN footer */
footer {
	width: 10rem;
	height: 6rem;
	margin-bottom: 1.6rem;
}
footer .footFunc {
	width: 10rem;
	height: 4rem;
	background: #855704;
}
footer .footFunc table{
	width: 10rem;
	height: .826rem;
	display: inline-block;
	margin-top: .65rem;
}
footer .footFunc table td{
	width: 3.333rem;
	height: .826rem;
	/* padding: 0 0 0 .3rem; */
	text-align: center;
}
footer .footFunc table td img{
	width: .826rem;
	height: .826rem;
}
footer .footFunc table td span{
	margin-left: .15rem;
	font-size: .32rem;
	color: #f9c86f;
}
footer .phone {
	text-align: center;
	margin-top: .65rem;
	color: #f9c86f;
}
footer .phone {
	font-size: .32rem;
}
footer .phone p{
	margin-top: .1rem;
}
footer .phone b{
	margin-left: .15rem;
}
footer .phone img{
	width: .666rem;
	height: .64rem;
}
footer .companyInfo {
	width: 10rem;
	height: 2rem;
	position: relative;
	background: #6d4703;
	padding: .25rem 0 0 .5rem;
}
footer .companyInfo span{
	font-size: .32rem;
	color: #f9c86f;
}
footer .companyInfo .toTop{
	position: absolute;
	width: 1.333rem;
	height: 1.333rem;
	top: 50%;
	right: .35rem;
	margin: -.666rem 0 0 0;
	background: url("../images/toTop.png");
	background-size: 100% 100%;
}
/* END footer */

/* BEGIN modal common style */
.modal_cover{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: rgba(26, 23, 23, 0.8);
    z-index: 9000;
    margin: 0 auto;
}
.modal_frame{
	/* min-width: 300px;
    max-width: 700px; */
    width: 8rem;
    height: 8.5rem;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9001;
    /* border: 1px solid white; */
}
/* END  modal common style */

/* BEGIN 二维码modal */
#erweima{
	display: none;
}
#erweima .modal_frame{
	text-align: center;
}
#erweima .modal_frame img{
		/* 536 * 431 */
	width: 7rem;
	height: 8.705rem;	
}
/* END 二维码Modal */

/* BEGIN 分享Modal */
#shareModal{
	display: none;
}
#shareModal .modal_frame {
	text-align: center;
	top: 30%;
    left: 50%;
}
#shareModal .modal_frame img{
	/* 538 * 497 */
	width: 7.577rem;
	height: 7rem;
}
/* END 分享Modal */

/* 电脑版未开放提示 */
#pcTipModal{
	display: none;
	text-align: center;
}
#pcTipModal span{
	color: white;
	line-height: 4rem;
	font-size: .5rem;
}