* {
	font-family: "Microsoft YaHei" ! important;
}
html, body {
	height: 100%;
	overflow-x: hidden;
	background: white;
}
.container {
	width: 10rem;
	overflow-x: hidden;
	margin: 0 auto;
}

.downloadTop {
	width: 10rem;
	height: 1.33333rem;
	position: fixed;
	background: url("../images/downloadTopBg.png") no-repeat;
	background-size: 10rem 1.3333rem;
	margin: 0 auto;
	padding: 0.12rem 0.4rem;
	z-index: 8888;
	background: #e8ce9c;
}
.topContent {
	width: 100%;
	/* height: 1.066rem; */
	height: 100%;
}
.topContentImg{
	width: 1.066rem;
	height: 1.066rem;
}
.topContentImg img{
	width: 100%;
	height: 100%;
}
.topContentImg,.topContentText {
	float: left;
}
#topBtn {
	float: right;
	width: 3.5rem;
	height: 0.8rem;
	margin-top: 0.15rem;
}
.homePageBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: left;
	background: url("../images/homePageBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.gemeDownloadBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: right;
	background: url("../images/topBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.topContentText {
	padding: 0.05rem 0 0.13rem 0.08rem;
	color: #683307;
}
.topContentText em{
	font-size: .4266rem;
	font-weight: bold;	
}
.topContentText span{
	font-size: .2933rem;
}
/* BEGIN 导航条*/
.navBar {
	width: 10rem;
	height: 1.6rem;
	background: #ac7d11;
	position: fixed;
	bottom: 0;
	z-index: 8888;
}

.navBar .nav{
	width: 2rem;
	height: 1.6rem;
	float: left;
	margin: 0 auto;
}
.navBar .navIcon{
	margin: -.45rem auto 0;
	position: relative;
	top: 50%;
	background: url("../images/navBarIcon.png") no-repeat;
	background-size:  10rem 2.4rem;
	display: block;
}
.navBar .newsInfoImg{
	width: 1.29rem;
	height: 1.09rem;
	background-position: -.6333rem -.1733rem;
	/* y = 1.25rem */
	text-align: center; 
}
.navBar .newsInfoImgClick{
	background-position: -.6333rem -.1733rem;
}
.navBar .gameInfoImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -2.5333rem -.1733rem;
}
.navBar .newInstructionImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -4.366rem -.1733rem;
}
.navBar .getGiftImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -6.2933rem -.1733rem;
}
.navBar .usersImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -8.2rem -.1733rem;
}
/* END 导航条*/

/* BEGIN 版心 */
.main{
	width: 10rem;
	height: 19.226rem;
	color: #a26f30;
	position: relative;
}
.main .bg{
	height: 19.226rem;
	width: 10rem;
}
.content{
	position: absolute;
	width: 8.666rem;
	height: 13rem;
	/* background: rgb(186, 198, 202); */
	/* margin: 0 auto; */
	top: 16%;
	left: 50%;
	margin: 0 0 0 -4.333rem;
	opacity: .8;
}
.describe p{
	font-size: .3466rem;
	text-align: center;
	width: 8rem;
	margin: 0 auto;
}
.txt{
	margin-top: .3rem;
}
.skil{
	margin-top: .3rem;
}
.skill li{
	margin: .2rem 0 0 0;
}
.skill li .tip{
	width: .28rem;
	height: .28rem;
	display: inline-block;
	background: #a26f30;
	color: white;
	text-align: center;
	border-radius: 3px;
	vertical-align: center;
	margin-right: .1rem;
}
.skill p{
	font-size: .3rem;
	color: #a26f30;
	font-weight: 500;
}
.skill li p:first-child{
	margin-bottom: .1rem;
}
.redcol{
	color: #f46253;
}
/* BEGIN 版心 */


/* BEGIN modal common style */
.modal_cover{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: rgba(26, 23, 23, 0.8);
    z-index: 9000;
    margin: 0 auto;
}
.modal_frame{
	/* min-width: 300px;
    max-width: 700px; */
    width: 8rem;
    height: 8.5rem;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9001;
    /* border: 1px solid white; */
}
/* END  modal common style */

/* BEGIN 二维码modal */
#erweima{
	display: none;
}
#erweima .modal_frame{
	text-align: center;
}
#erweima .modal_frame img{
		/* 536 * 431 */
	width: 7rem;
	height: 8.705rem;	
}
/* END 二维码Modal */

/* BEGIN 分享Modal */
#shareModal{
	display: none;
}
#shareModal .modal_frame {
	text-align: center;
	top: 30%;
    left: 50%;
}
#shareModal .modal_frame img{
	/* 538 * 497 */
	width: 7.577rem;
	height: 7rem;
}
/* END 分享Modal */