* {
	font-family: "Microsoft YaHei" ! important;
}
   
html, body {
	height: 100%;
	overflow-x: hidden;
	background: white;
}
.container {
	width: 10rem;
	overflow-x: hidden;
	margin: 0 auto;
}
.downloadTop {
	width: 10rem;
	height: 1.33333rem;
	position: fixed;
	background: url("../images/downloadTopBg.png") no-repeat;
	background-size: 10rem 1.3333rem;
	margin: 0 auto;
	padding: 0.12rem 0.55rem;
	z-index: 8888;
	background: #e8ce9c;
}
.topContent {
	width: 100%;
	/* height: 1.066rem; */
	height: 100%;
}
.topContentImg{
	width: 1.066rem;
	height: 1.066rem;
}
.topContentImg img{
	width: 100%;
	height: 100%;
}
.topContentImg,.topContentText {
	float: left;
}
.downloadTopBtn {
	float: right;
	width: 1.6rem;
	height: 0.8rem;
	background: url("../images/topBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
	margin-top: 0.15rem;
}
.downloadTopBtnClick{/*顶部下载按钮 点击后样式*/
	background: url("../images/downloadTopBtnhover.png") no-repeat;
	background-size: 1.6rem 0.8rem;
}
.topContentText {
	padding: 0.11rem 0 0.13rem 0.08rem;
	color: #683307;
}
.topContentText em{
	font-size: .4266rem;
	font-weight: bold;	
}
.topContentText span{
	font-size: .2933rem;
	margin-top: .2rem;
}
/*BEGIN 首图*/
.main {
	width:10rem;
	height: 14rem;
	position: relative;
	background: url('../images/bg.jpg') no-repeat;
	background-size: 10rem 14.906rem;
	background-position: top;
}
.main .bg{
	width: 100%;
	height: 100%;
}
.videoPlayBtn {
	width: 1.5333rem;
	height: 1.4933rem;
	background: url("../images/videoBtn.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 65%;
	left: 53%;
	margin: -0.7466rem 0 0 -.7466rem ;
}
.main_downloadBtn {
	width: 4.72rem;
	height: 1.333rem;
	background: url("../images/mainDownloadBtn.png") no-repeat;
	background-size: 9.46rem 1.333rem;
	background-position: 0 0;
	position: absolute;
	left: 50%;
	top: 95%;
	margin: -0.58rem 0 0 -2.3rem;
}
.main_downloadBtnClick {
	background: url("../images/mian_downloadBtnhover.png") no-repeat;
	background-size: 100% 100%;
}
/*END 首图*/

/* BEGIN 导航条*/
.navBar {
	width: 10rem;
	height: 1.6rem;
	background: #ac7d11;
	position: fixed;
	bottom: 0;
	z-index: 8888;
}
.navBar ul{}
.navBar .nav{
	width: 2rem;
	height: 1.6rem;
	float: left;
	margin: 0 auto;
}
.navBar .navIcon{
	margin: -.45rem auto 0;
	position: relative;
	top: 50%;
	background: url("../images/navBarIcon.png") no-repeat;
	background-size:  10rem 2.4rem;
	display: block;
}
.navBar .newsInfoImg{
	width: 1.29rem;
	height: 1.09rem;
	background-position: -.6333rem -.1733rem;
	/* y = 1.25rem */
	text-align: center; 
}
.navBar .newsInfoImgClick{
	background-position: -.6333rem -.1733rem;
}
.navBar .gameInfoImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -2.5333rem -.1733rem;
}
.navBar .newInstructionImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -4.366rem -.1733rem;
}
.navBar .getGiftImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -6.2933rem -.1733rem;
}
.navBar .usersImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -8.2rem -.1733rem;
}
/* END 导航条*/

.content {
	width: 10rem;
	height: 49.106rem;;
	background: #fef8de;
}

.gameSlider1 {
	height: 7.066rem;
	width: 10rem;
	/* background: skyblue; */
	position: relative;
	/* padding: .8rem auto; */
}
/*gameSlider1 轮播图大小设置*/
.gameSlider1 .swiper-container {
	width: 9.2rem;
	height: 5.066rem;
	border-radius: 5px;
	top: .8rem;
}
.gameSlider1 .swiper-pagination {
	left: 50%;
	transform: translateX(-50%);
	top: 6.2rem;
	width: 9rem;
}
.gameSlider1 .swiper-slide img{
	width: 100%;
	height: 100%;
}
.gameSlider1 .swiper-pagination-bullet {
	width: .933rem;
	height: .08rem;
	margin: .2333rem;
	border-radius: .4666rem;
	background: #ceb996;
}
.gameSlider1 .swiper-pagination-bullet-active{
	background: #f56859;
}


/*BEGIN 新闻资讯*/
.newsInformation {
	width: 10rem;
	height: 8.9333rem;
}
.news-head {
	width: 5.653rem;
	height: 0.643rem;
	background: url("../images/newInformation.png") no-repeat;
	background-size: 100% 100%;
	margin: .6rem auto;
}
.news-content {
	width: 10rem;
	height: 5.333rem;
	/* background: silver; */
	position: relative;
}
.newsSlide-content {
	width: 9.2rem;
	height: 4.533rem;	
}
#newsContentSlide .swiper-slide{
	border-top: 1px solid #e7ddc2;
}
/*新闻资讯 导航自定义 swiper pagination样式*/
.news-pagination {
	position: absolute;
	left: .5rem;
	top: .2rem;
	background: none;
	/* color: #d5bf96; */
	/* border-bottom: 1px solid #e7ddc2; */
}
.news-pagination span {
	font-size: 0.3733rem;
}
#newsContentSlide .swiper-pagination-bullet {
	width: 1.5rem;
	height: .6rem;
	border-radius: 0;
	background: none;
	color: #c6a978;
	font-weight: 600;
	opacity: 1;
}
#newsContentSlide .swiper-pagination-bullet-active {
	background: none;
	color: #f36561;
	border-bottom: 2px solid #f36561;
	font-weight: 700;
}
/*新闻资讯列表内容swiper样式自定义*/
.newsInformation .swiper-container{
	top: .8rem;
}
.txt-list a {
	text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	width: 9.2rem;
	height: 1rem;
	font-size: 0.3rem;
	justify-content: space-between;
	line-height: 1.133rem;
	font-weight: 500;
	color: #c2821e;
	-webkit-tap-highlight-color: rgba(233, 216, 164, 0.3);
}
.txt-list .newsaVisited {
	color: #f36561;
	font-weight: bolder;
}
.txt-list em {
	display: block;
	width: 6.666rem;
	height: 1.133rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: .36rem;
}
/*查看更多*/
.newsMore {
	width: 9.1rem;
	height: 1.2rem;
	display: block;
	background: url("../images/newsMoreBtn.png") no-repeat;
	background-size: 9.066rem 2.44rem;
	background-position: 0 -.03rem;
	margin: 0 auto;
}
.newsMoreVisited {
	width: 9.066rem;
	height: 1.1466rem;
	display: block;
	background: url("../images/newsMore-hover.png") no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
/*END  新闻资讯*/

/* BEGIN 游戏特色 */
#gameFeature{
	width: 10rem;
	height: 10.666rem;
	/* background: rgb(33, 125, 161); */
	margin: 0 auto;
}
#gameFeature .gameFeature-pho{
	width: 5.653rem;
	height: .6432rem;
	background: url("../images/gameFeature.png") no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
#gameFeature .swiper-slide img{
	opacity: .5;
	width: 100%;
	height: 100%;
}
#gameFeature .swiper-container{
	width: 8.9rem;
	height: 8rem;
	margin-top: 0.55rem;
}
#gameFeature .swiper-button-next{
	background: none;
	width: 2rem;
	height: 8rem;
	opacity: .5;
	top: .5rem;
}
#gameFeature .swiper-button-prev {
	background: none;
	width: 2rem;
	height: 8rem;
	opacity: .5;
	top: .5rem;
}
/* END 游戏特色 */

/* BEGIN 游戏资料 */
#gameInfo {
	width: 9.6rem;
	height: 9.466rem;
	background: url("../images/gameInfoFrame.png") no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	position: relative;
	
	/* background: skyblue; */
}
#gameInfo .info-pho{
	width: 5.6rem;
	height: 0.6371rem;
	background: url('../images/gameInfo.png') no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	position:relative;
	top: 1rem;
}
#gameInfo .info-content{
	width: 9.066rem;
	height: 8.533rem;
	position: relative;
	top: 1.5rem;
	margin: 0 auto;
}
#gameInfo .infoHeadImg {
	display: inline-block;
	position: absolute;
	width: 1.733rem;
	height: 1.733rem;
	background: url("../images/gameInfoBtnBg.png") no-repeat;
	background-size: 3.6067rem 6.069rem;
}
#gameInfo .infoLine1 {
	margin: 0 auto;
}
#gameInfo .infoLine1 .baseInstruction {
	background-position: 0 0;
	/* background-position: -1.8rem 0; */
}
#gameInfo table {
	display: inline-block;
	width: 7.2rem;
	text-align: center;
	color: #c2821e;
	margin-left: 2.1rem;
}
#gameInfo #infoFirstLine table td{
	width: 2.4rem;
	height: 1.733rem;
}
#gameInfo .info-content span{
	font-size: .32rem;
	color: #c2821e;
}
#gameInfo .info-content a{
	text-decoration: none;
	display: block;
}
#gameInfo .infoLine1 table img{
	width:  .733rem;
	height: .5825rem;
}
#gameInfo .tbcommon table td{
	width: 2.4rem;
	height: .58rem;
}
.infoLine1,.infoLine2 {
	height: 1.9rem;
	border-bottom: 1px solid #e8d8b6;
}
.infoLine3,.infoLine2 {
	margin: 0.15rem 0 0 0;
}
#gameInfo .infoLine2 .guide{
	background-position: 0 -2.2rem;
	/* background-position: -1.8rem -2.2rem; */
}
#gameInfo .infoLine3 table td{
	height: .65rem;
}
/* #gameInfo .infoLine3 table{
	height: 1.9rem;
} */
#gameInfo .infoLine2 table td {
	height: .8rem;
}
#gameInfo .infoLine3 .playMethod{
	background-position: 0 -4.3rem;
	/* background-position: -1.8rem -4.2rem; */
}
/* END 游戏资料 */

/* BEGIN 实景截图 */
#printScreen {
	width: 10rem;
	height: 10.8rem;
	/* background: skyblue; */
	position: relative;
	top: 1.25rem;
}
#printScreen .printScreenHead{
	width: 5.653rem;
	height: 0.66rem;
	background: url("../images/printScreen.png") no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
}
#printScreen .swiper-slide img{
	width: 100%;
	height: 100%;
}
#printScreen .printScreenShow {
	margin: .533rem 0 0 0;
}
#printScreen .printScreen-content{
	width: 10rem;
	height: 8rem;
}

/* 实景截图 swiper-pagination 重写样式 */
#printScreen .swiper-pagination{
	position: relative;
	width: 4rem;
	height: 0.444rem;
	top: .266rem;
	margin: 0 auto;
}
#printScreen .swiper-pagination-bullet{
	width: .444rem;
	height: .444rem;
	border-radius: 0;
	background: none;
	background: url("../images/printScreenToggle.png");
	background-size: 100% 100%;
	margin:0 .24rem 0;
}
#printScreen .swiper-pagination-bullet-active {
	background: url("../images/printScreenToggleHover.png");
	background-size: 100% 100%;
}
#printScreen .swiper-button-prev{
	background: none;
	left: 0;
	width: 2.5rem;
	height: 7.5rem;
	top: 1rem;
}
#printScreen .swiper-button-next{
	background: none;
	right: 0;
	width: 2.5rem;
	height: 7.5rem;
	top: 1rem;
}
/* END 实景截图 */


/* BEGIN footer */
footer {
	width: 10rem;
	height: 6rem;
	margin-bottom: 1.6rem;
}
footer .footFunc {
	width: 10rem;
	height: 4rem;
	background: #855704;
}
footer .footFunc table{
	width: 10rem;
	height: .826rem;
	display: inline-block;
	margin-top: .65rem;
}
footer .footFunc table td{
	width: 3.333rem;
	height: .826rem;
	/* padding: 0 0 0 .3rem; */
	text-align: center;
}
footer .footFunc table td img{
	width: .826rem;
	height: .826rem;
}
footer .footFunc table td span{
	margin-left: .15rem;
	font-size: .32rem;
	color: #f9c86f;
}

footer .phone {
	text-align: center;
	margin-top: .65rem;
	color: #f9c86f;
}
footer .phone {
	font-size: .32rem;
}
footer .phone p{
	margin-top: .1rem;
}
footer .phone b{
	margin-left: .15rem;
}
footer .phone img{
	width: .666rem;
	height: .64rem;
}
footer .companyInfo {
	width: 10rem;
	height: 2rem;
	position: relative;
	background: #6d4703;
	padding: .25rem 0 0 .5rem;
}
footer .companyInfo span{
	font-size: .32rem;
	color: #f9c86f;
}
footer .companyInfo .toTop{
	position: absolute;
	width: 1.333rem;
	height: 1.333rem;
	top: 50%;
	right: .35rem;
	margin: -.666rem 0 0 0;
	background: url("../images/toTop.png");
	background-size: 100% 100%;
}
/* END footer */

/* BEGIN modal common style */
.modal_cover{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: rgba(26, 23, 23, 0.8);
    z-index: 9000;
    margin: 0 auto;
}
.modal_frame{
	/* min-width: 300px;
    max-width: 700px; */
    width: 8rem;
    height: 8.5rem;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9001;
    /* border: 1px solid white; */
}
/* END  modal common style */

/* BEGIN 二维码modal */
#erweima{
	display: none;
}
#erweima .modal_frame{
	text-align: center;
}
#erweima .modal_frame img{
		/* 536 * 431 */
	width: 7rem;
	height: 8.705rem;	
}
/* END 二维码Modal */

/* BEGIN 分享Modal */
#shareModal{
	display: none;
}
#shareModal .modal_frame {
	text-align: center;
	top: 30%;
    left: 50%;
}
#shareModal .modal_frame img{
	/* 538 * 497 */
	width: 7.577rem;
	height: 7rem;
}
/* END 分享Modal */

/* BEGIN video Modal */
#videoModal{
	display: none;
}
#videoModal .modal_frame{
	width: 0;
	height: 0;
	margin: 0 0 0 -5rem;
	top: 26%;
}
#videoFrame{
    width: 10rem;
    height: 5.6rem;
}
#videoModal .videoClose{
	width: 1.5rem;
	height: 1.5rem;
	background: url("../images/videoClose.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
	left: 5rem;
	top: -.5rem;
	margin-left: -.75rem;
}
#notVideoSrc{
	color: white;
	width: 10rem;
	text-align: center;
	font-size: .65rem;
}

/* END video Modal */
/* 电脑版未开放提示 */
#pcTipModal{
	display: none;
	text-align: center;
}
#pcTipModal span{
	color: white;
	line-height: 4rem;
	font-size: .5rem;
}
/* BEGIN 花瓣*/

/* ====================== */
.leaf {position: absolute;z-index: 6;animation: leaf_move 3s cubic-bezier(1, 0.68, 1, 0.98) infinite;/* -webkit-animation: leaf_move 3s cubic-bezier(1, 0.68, 1, 0.98) infinite; */animation-play-state: paused;-webkit-animation-play-state: paused;}
.leaf img { filter: alpha(opacity=0); opacity: 0; -moz-opacity: 0; display: block; width: 100%; animation: leaf_move1 3s linear infinite; -webkit-animation: leaf_move1 3s linear infinite; animation-play-state: paused; -webkit-animation-play-state: paused; }

.leaf1 { width: 0.64rem; top: 10%; left: 30%; }

.leaf2 { width: 0.3066rem; top: 20%; left: 50%; animation-delay: 1s; -webkit-animation-delay: 1s; }
.leaf2 img { animation-delay: 1s; -webkit-animation-delay: 1s; }

.leaf3 { width: 1rem; top: 10%; left: 90%; animation-delay: 1.5s; -webkit-animation-delay: 1.5s; }
.leaf3 img { animation-delay: 1.5s; -webkit-animation-delay: 1.5s; }

.leaf4 { width: 0.9066rem; top: 40%; left: 50%; animation-delay: 2s; -webkit-animation-delay: 2s; }
.leaf4 img { animation-delay: 2s; -webkit-animation-delay: 2s; }

.leaf5 { width: 0.5733rem; top: 45%; left: 85%; animation-delay: 2.5s; -webkit-animation-delay: 2.5s; }
.leaf5 img { animation-delay: 2.5s; -webkit-animation-delay: 2.5s; }

@keyframes leaf_move { 0% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(0, 850%, 0);} }
@-webkit-keyframes leaf_move { 0% { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(0, 1500%, 0); } }
@keyframes leaf_move1 { 0% {transform: translate3d(0, 0, 0) rotate(0);opacity: 0;}
  25% {transform: translate3d(-150%, 0, 0) rotate(90deg);opacity: 1;}
  50% {transform: translate3d(-300%, 0, 0) rotate(180deg);opacity: 1;}
  75% { transform: translate3d(-450%, 0, 0) rotate(270deg); opacity: 1; }
  99.99% {transform: translate3d(-600%, 0, 0) rotate(360deg);opacity: 0;}
  100% {transform: translate3d(0, 0, 0) rotate(0);opacity: 0;} }
@-webkit-keyframes leaf_move1 { 0% { -webkit-transform: translate3d(0, 0, 0) rotate(0); opacity: 0; }
  25% { -webkit-transform: translate3d(-150%, 0, 0) rotate(90deg); opacity: 1; }
  50% { -webkit-transform: translate3d(-300%, 0, 0) rotate(180deg); opacity: 1; }
  75% { -webkit-transform: translate3d(-450%, 0, 0) rotate(270deg); opacity: 1; }
  99.99% { -webkit-transform: translate3d(-600%, 0, 0) rotate(360deg); opacity: 0; }
  100% { -webkit-transform: translate3d(0, 0, 0) rotate(0); opacity: 0; } }
.music { position: absolute; z-index: 1; width: 0.62rem; height: 0.62rem; right: 0.2rem; top: 0.2rem; background: url(../images/music.png) no-repeat left center; background-size: 200% 100%; transform: rotate(0deg); -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); animation: music_ani 3s linear infinite; -webkit-animation: music_ani 3s linear infinite; animation-play-state: paused; -webkit-animation-play-state: paused; cursor: pointer; -webkit-tap-highlight-color: transparent; }
.music.off { background-position: right center; animation-play-state: paused; -webkit-animation-play-state: paused; }

@keyframes music_ani { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
@-webkit-keyframes music_ani { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); } }
/* ========================== */



/* END 花瓣*/