* {
	font-family: "Microsoft YaHei" ! important;
}
html, body {
	height: 100%;
	overflow-x: hidden;
	background: white;
}
.container {
	width: 10rem;
	overflow-x: hidden;
	margin: 0 auto;
}

.downloadTop {
	width: 10rem;
	height: 1.33333rem;
	position: fixed;
	background: url("../images/downloadTopBg.png") no-repeat;
	background-size: 10rem 1.3333rem;
	margin: 0 auto;
	padding: 0.12rem 0.4rem;
	z-index: 8888;
	background: #e8ce9c;
}
.topContent {
	width: 100%;
	/* height: 1.066rem; */
	height: 100%;
}
.topContentImg{
	width: 1.066rem;
	height: 1.066rem;
}
.topContentImg img{
	width: 100%;
	height: 100%;
}
.topContentImg,.topContentText {
	float: left;
}
#topBtn {
	float: right;
	width: 3.5rem;
	height: 0.8rem;
	margin-top: 0.15rem;
}
.homePageBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: left;
	background: url("../images/homePageBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.gemeDownloadBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: right;
	background: url("../images/topBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.topContentText {
	padding: 0.05rem 0 0.13rem 0.08rem;
	color: #683307;
}
.topContentText em{
	font-size: .4266rem;
	font-weight: bold;	
}
.topContentText span{
	font-size: .2933rem;
}
/* BEGIN 导航条*/
.navBar {
	width: 10rem;
	height: 1.6rem;
	background: #ac7d11;
	position: fixed;
	bottom: 0;
	z-index: 8888;
}

.navBar .nav{
	width: 2rem;
	height: 1.6rem;
	float: left;
	margin: 0 auto;
}
.navBar .navIcon{
	margin: -.45rem auto 0;
	position: relative;
	top: 50%;
	background: url("../images/navBarIcon.png") no-repeat;
	background-size:  10rem 2.4rem;
	display: block;
}
.navBar .newsInfoImg{
	width: 1.29rem;
	height: 1.09rem;
	background-position: -.6333rem -.1733rem;
	/* y = 1.25rem */
	text-align: center; 
}
.navBar .newsInfoImgClick{
	background-position: -.6333rem -.1733rem;
}
.navBar .gameInfoImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -2.5333rem -.1733rem;
}
.navBar .newInstructionImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -4.366rem -.1733rem;
}
.navBar .getGiftImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -6.2933rem -.1733rem;
}
.navBar .usersImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -8.2rem -.1733rem;
}
/* END 导航条*/


/* BEGIN 版心 */
.container{
    width: 10rem;
    min-height: 15rem;
    background: #fef6db;
    margin: 1.333rem auto 0;
}
.container .search{
    width: 9.2rem;
    height: .9333rem;
    position: relative;
    margin: .4rem auto 0;
}
.container .search input{
    width: 9.2rem;
    height: .9333rem;
    padding: 0 0.333rem; 
    font-size: .34666rem;  
}
.container .search img{
    position: absolute;
    top: .2rem;
    right: .3333rem;
    width: .5333rem;
    height: .5333rem;  
}
.content{
    width: 9.2rem;
	margin: .4rem auto 0;
	min-height: 12rem;
}
.content .nav{
    display: inline-block;
    width: 1.8rem;
    height: 6.533rem;
}
.content .nav li{
    width: 1.8rem;
    height: 3.266rem;
    /* background: greenyellow; */
    padding: .15rem 0 .15rem 0;
    position: relative;
}
.content .nav li img{
    width: 1.333rem;
    height: 2.9333rem;
    display: inline-block;
}
.content .nav li i{
    height: .4rem;
    width: .1877rem;
    background: url("../images/person/flag.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 45%;
    margin: -.09rem 0 0 .05rem;
}
.content .nav .boyNav i{
	display: none;
}
.personImg{
    width: 7.35rem;
    height: auto;
    float: right;
}
/* .personImg table td{
    width: 2.466rem;
    height: 2.733rem;
} */
.personImg li{
    width: 2.45rem;
    height: 2.9rem;
    float: left;
    text-align: center;
    padding-top: .15rem;
}
.personImg li a{
    text-decoration: none;
}
.personImg li img{
    width: 2.066rem;
    height: 2.066rem;
    display: block;
    margin: 0 auto .15rem;
}
.personImg li span{
    color: #613106;
    font-size: .2933rem;
    margin-top: .1rem;
}

/* BEGIN 加载样式 */
.load{
    width: 9.066rem;
    height: 1.866rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 0 auto;
}
.load span{
    font-size: .29333rem;
}
.load .line{
    width: 3rem;
    height: 1px;
    background: #ddcaa0;
    display: block;
    align-self: center;
}
.loadMore,.moreOver,.loading{
    width: 3rem;
    height: .6666rem;
    text-align: center;
    line-height: .6666rem;
    align-self: center;
}
.load .loadMore{
	width: 2.266rem;
    height: .666rem;
    background: #ddcaa0;
    color: #a5936a;
}
.load .moreOver{
    width: 2.266rem;
    height: .666rem;
    /* background: #ddcaa0; */
	color: #a5936a;
	display: none;
}
.load .loading{
    color: #ddcaa0;
}
.load .loading img{
    width: .45rem;
    height: .45rem;
    display: inline-block;
    margin-top: -.08rem;
}
/* END 加载样式 */

/* END 版心 */


/* BEGIN footer */
footer {
	width: 10rem;
	height: 6rem;
	margin-bottom: 1.6rem;
}
footer .footFunc {
	width: 10rem;
	height: 4rem;
	background: #855704;
}
footer .footFunc table{
	width: 10rem;
	height: .826rem;
	display: inline-block;
	margin-top: .65rem;
}
footer .footFunc table td{
	width: 3.333rem;
	height: .826rem;
	/* padding: 0 0 0 .3rem; */
	text-align: center;
}
footer .footFunc table td img{
	width: .826rem;
	height: .826rem;
}
footer .footFunc table td span{
	margin-left: .15rem;
	font-size: .32rem;
	color: #f9c86f;
}
footer .phone {
	text-align: center;
	margin-top: .65rem;
	color: #f9c86f;
}
footer .phone {
	font-size: .32rem;
}
footer .phone p{
	margin-top: .1rem;
}
footer .phone b{
	margin-left: .15rem;
}
footer .phone img{
	width: .666rem;
	height: .64rem;
}
footer .companyInfo {
	width: 10rem;
	height: 2rem;
	position: relative;
	background: #6d4703;
	padding: .25rem 0 0 .5rem;
}
footer .companyInfo span{
	font-size: .32rem;
	color: #f9c86f;
}
footer .companyInfo .toTop{
	position: absolute;
	width: 1.333rem;
	height: 1.333rem;
	top: 50%;
	right: .35rem;
	margin: -.666rem 0 0 0;
	background: url("../images/toTop.png");
	background-size: 100% 100%;
}
/* END footer */

/* BEGIN modal common style */
.modal_cover{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: rgba(26, 23, 23, 0.8);
    z-index: 9000;
    margin: 0 auto;
}
.modal_frame{
	/* min-width: 300px;
    max-width: 700px; */
    width: 8rem;
    height: 8.5rem;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9001;
    /* border: 1px solid white; */
}
/* END  modal common style */

/* BEGIN 二维码modal */
#erweima{
	display: none;
}
#erweima .modal_frame{
	text-align: center;
}
#erweima .modal_frame img{
		/* 536 * 431 */
	width: 7rem;
	height: 8.705rem;	
}
/* END 二维码Modal */

/* BEGIN 分享Modal */
#shareModal{
	display: none;
}
#shareModal .modal_frame {
	text-align: center;
	top: 30%;
    left: 50%;
}
#shareModal .modal_frame img{
	/* 538 * 497 */
	width: 7.577rem;
	height: 7rem;
}
/* END 分享Modal */

/* 电脑版未开放提示 */
#pcTipModal{
	display: none;
	text-align: center;
}
#pcTipModal span{
	color: white;
	line-height: 4rem;
	font-size: .5rem;
}