* {
	font-family: "Microsoft YaHei" ! important;
}
   
html, body {
	height: 100%;
	overflow-x: hidden;
	background: white;
	color: white; 
	height: 100%;
}
.swiper-container {
	width: 10rem;
	height: 5rem;
}
.swiper-pagination-bullet {
	width: .65rem;
	height: .1rem;
}


._video {
	position: relative;
}
.videoIcon {
	width: .65rem;
	height: .65rem;
	border-radius: 100%;
	background: skyblue;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -.325rem 0 0 -.325rem;
}
.swiper-container {
	width: 8.266rem;
	height: 8rem;
}