* {
	font-family: "Microsoft YaHei" ! important;
}
   
html, body {
	height: 100%;
	overflow-x: hidden;
	background: #fdf3d5;
	height: 100%;
}
.container {
	width: 10rem;
	overflow-x: hidden;
    margin: 0 auto;
    background: #fff7dc;
}
.downloadTop {
	width: 10rem;
	height: 1.33333rem;
	position: fixed;
	background: url("../images/downloadTopBg.png") no-repeat;
	background-size: 10rem 1.3333rem;
	margin: 0 auto;
	padding: 0.12rem 0.4rem;
	z-index: 8888;
	background: #e8ce9c;
}
.topContent {
	width: 100%;
	/* height: 1.066rem; */
	height: 100%;
}
.topContentImg{
	width: 1.066rem;
	height: 1.066rem;
}
.topContentImg img{
	width: 100%;
	height: 100%;
}
.topContentImg,.topContentText {
	float: left;
}
#topBtn {
	float: right;
	width: 3.5rem;
	height: 0.8rem;
	margin-top: 0.15rem;
}
.homePageBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: left;
	background: url("../images/homePageBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.gemeDownloadBtn{
    width: 1.6rem;
    height: 0.8rem;
    float: right;
	background: url("../images/topBtn.png") no-repeat;
	/* 250 60 */
	background-size: 3.333rem 0.8rem;
	background-position: 0 0;
}
.topContentText {
	padding: 0.05rem 0 0.13rem 0.08rem;
	color: #683307;
}
.topContentText em{
	font-size: .4266rem;
	font-weight: bold;	
}
.topContentText span{
	font-size: .2933rem;
}
/* BEGIN 导航条*/
.navBar {
	width: 10rem;
	height: 1.6rem;
	background: #ac7d11;
	position: fixed;
	bottom: 0;
	z-index: 8888;
}
.navBar ul{}
.navBar .nav{
	width: 2rem;
	height: 1.6rem;
	float: left;
	margin: 0 auto;
}
.navBar .navIcon{
	margin: -.45rem auto 0;
	position: relative;
	top: 50%;
	background: url("../images/navBarIcon.png") no-repeat;
	background-size:  10rem 2.4rem;
	display: block;
}
.navBar .newsInfoImg{
	width: 1.29rem;
	height: 1.09rem;
	background-position: -.6333rem -.1733rem;
	/* y = 1.25rem */
	text-align: center; 
}
.navBar .newsInfoImgClick{
	background-position: -.6333rem -.1733rem;
}
.navBar .gameInfoImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -2.5333rem -.1733rem;
}
.navBar .newInstructionImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -4.366rem -.1733rem;
}
.navBar .getGiftImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -6.2933rem -.1733rem;
}
.navBar .usersImg{
	width: 1.25rem;
	height: 1rem;
	background-position: -8.2rem -.1733rem;
}
/* END 导航条*/

.main{
    width: 10rem;
    height: 14.906rem;
    background: url("../images/kefu/bg.jpg") no-repeat;
	background-size: 100% 100%;
	position: relative;
	margin: 0 auto;
    /* background: skyblue; */
}
.main .content{
	width: 7.8666rem;
	min-height: 8.8;
	margin: 0 auto;
	position: relative;;
	top: 20%;
}
.main .content div{
	width: 7.8666rem;
	height: 1.733rem;
	background: url("../images/kefu/QQFrame.png") no-repeat;
	background-size: 100% 100%;
	margin: .4rem auto;
	color: #ff4a27;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.main .content div span{
	font-size: .6133rem;
	/* line-height: 1.733rem; */
}
.main .content .qq i{
	display: inline-block;
	width: .666rem;
	height: .7222rem;
	background: url('../images/kefu/QQ.png') no-repeat;
	background-size: 100% 100%;
	margin-right: .4rem;
}
.main .content .tel i{
	display: inline-block;
	width: .666rem;
	height: .7222rem;
	background: url('../images/kefu/phone.png') no-repeat;
	background-size: 100% 100%;
	margin-right: .4rem;
}
.main .content .tel span{
	color: #2fa2ec;
}