*{margin:0;padding:0;}
.autoimg{max-width:100%;height:auto;vertical-align: middle;}
a,img{border:0;}
a{text-decoration:none;}
.qmcj{max-width:800px;margin:0 auto;vertical-align: middle;padding-bottom: 10px;}
.main{padding:0 5%;}
body{font-family: '微软雅黑';}
.main div{border-radius:20px;background:#fff;overflow: hidden;margin-bottom:40px;}
.top span{width:21.6666%;margin:0 auto;display:block;padding-top:17px;}
.top h3{font-size:36px;line-height: 1.8;color:#666666;text-align: center;font-weight: normal;padding-bottom:15px;border-bottom:1px solid #d1d1d1;margin:0 20px;}
.top p{font-size:30px;line-height: 2;color:#666666;text-align: center;}
.libao{padding-top: 15px;}
.clone{width:280px;line-height: 71px;font-size:30px;text-align: center;margin:0 auto;display: block;border-radius:9px;background:#eea42f;color:#fff;margin-top:15px;margin-bottom: 15px;}
.clone.cur{background: #666;}
.top .shuoming{color:#940b23;font-size:24px;line-height: 1.8;text-align: center;padding-bottom: 15px;}
.bottom{padding-left: 31px;}
.bottom h3{border-bottom: 1px solid #d1d1d1;}
.bottom h3 span{border-bottom: 5px solid #eea42f;padding:0 15px;font-size:36px;line-height: 2;color:#666666;font-weight: normal;display: inline-block;}
.bottom p{font-size: 30px;line-height: 1.6;color:#666666;position:relative;padding-left: 30px;margin-bottom: 80px;margin-top: 20px;padding-right: 10px;}
.bottom p:before{content:'';position: absolute;top:0;left:0;height: 48px;width:20px;background:url(http://activity.static.appgame.com/activity/weixin/images/yuan.jpg) no-repeat center center;}
.bottom p.none{margin-bottom: 0;}
.bottom p em{font-style: normal;color:#982828;}
.bottom{padding-bottom: 15px;}
.sorry h3{border-bottom: 0;}
.sorry{padding-top: 10px;}
.sorry span{padding-bottom: 10px;}
@media screen and (max-width: 640px){
	.top h3{font-size: 24px;margin:0 10px;}
	.top p{font-size: 20px;}
	.top .shuoming{font-size:20px ;}
	.clone{width: 200px;line-height: 50px;font-size: 20px;}
	.bottom h3 span{font-size: 24px;padding:0 10px;border-bottom: 3px solid #eea42f;}
	.bottom p {font-size: 20px;line-height: 1.6;color: #666666;position: relative;padding-left: 30px;margin-bottom: 40px;margin-top: 15px;}
	.bottom p:before{height: 40px;}
	.main div{margin-bottom: 20px;}
}
@media screen and (max-width: 540px){
	.top h3{font-size: 18px;}
	.top p{font-size: 14px;}
	.top .shuoming{font-size:14px ;}
	.clone{width: 160px;line-height: 50px;font-size: 18px;margin-top: 10px;margin-bottom: 10px;}
	.bottom h3 span{font-size: 18px;padding:0 10px;border-bottom: 3px solid #eea42f;}
	.bottom p {font-size: 14px;line-height: 1.6;color: #666666;position: relative;padding-left: 30px;margin-bottom: 20px;margin-top: 10px;}
	.bottom p:before{height: 23px;}
	.main div{margin-bottom: 20px;}	
	.bottom{padding-left: 10px;}

}