html{color:#000;background:#fff;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}html,body{font-family:sans-serif;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}abbr,acronym{border:0;font-variant:normal;}del{text-decoration:line-through;}address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}q:before,q:after{content:'';}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}a:hover{text-decoration:underline;}ins,a{text-decoration:none;}
/*css 初始化 */
html,nav, body,header,div, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input{ 
    margin:0; padding:0; box-sizing: border-box;
}
/* body
{
    text-align:justify;
} */
body a
{
    -webkit-tap-highlight-color: rgba(233, 216, 164, 0.3);
}
fieldset, img,input,button 
{ 
    border:none; padding:0;margin:0;outline-style:none; 
}
ul, li 
{ 
    list-style:none; 
}
input 
{ 
    padding-top:0; padding-bottom:0;
}
select, input 
{ 
    vertical-align:middle;
}
select, input, textarea 
{ 
    font-size:14px; margin:0; 
}

textarea 
{ 
    resize:none; 

} /*防止文本域拖动*/

img 
{
    border:0;   
    vertical-align:middle; 
}  /*  去掉图片低部默认的3像素空白缝隙*/

/*清除浮动*/
.clearfix:before,.clearfix:after 
{
    content:"";
    display:table;
}
.clearfix:after
{
    clear:both;
}
.clearfix
{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
/*a:hover{color:#C81623;}*/




